In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("/home/prashant/Downloads/DMI.csv")

In [4]:
data

   loan_id  application_id  lender_id  close_date
0      417             778        182  2018-11-22
1      502             965        183  2018-12-13

In [9]:
data['New_date'] = data.apply(lambda row:datetime.datetime.strptime(row['close_date'],"%Y-%M-%D"), axis=1)

NameError: ("name 'datetime' is not defined", 'occurred at index 0')