In [6]:
import pandas as pd
import json

In [12]:
f = open('reject_substatus.json', 'r')
content = f.read()
content = json.loads(content)
data = content['data']

In [15]:
df = pd.DataFrame(data)
df.head()

,actor,applicationid,from_status,substatuses,userid
0,avijit.mohanty,190,CREDIT_PENDING,"[""FOIR""]",675
1,sumalatha.thadimari,12723,INITIATED,"[""FOIR""]",95686
2,sumalatha.thadimari,43304,INITIATED,"[""FOIR"", ""POST_WRITTEN_OFF_SETTLED""]",369676
3,avijit.mohanty,43343,INITIATED,"[""FOIR""]",286157
4,prashanth.eswaramoorti,43394,INITIATED,"[""FOIR""]",292304

In [17]:
df.to_csv('credit_data.csv')