In [1]:
import pandas as pd
import csv
import requests
from ast import literal_eval
from xlrd import open_workbook

In [7]:
# pan_shubhloans=pd.read_excel('/home/prashant/Downloads/vignesh/pan subhloan.xlsx')

In [2]:
pan_shubhloans = pd.read_csv('/home/prashant/Downloads/vignesh/pan_subhloan.csv')

In [3]:
master_sheet = pd.read_csv('/home/prashant/Downloads/vignesh/subhloan master sheet.csv')

In [34]:
master_sheet.head()

,Sl.No,Borrower,Name as per Pooja Sheet,Loan_No_as_per_Pooja_Sheet,Borrower as per Bank,Reference Number,UMRN,Date,EMI Amount,Payment Mode,...,Nov/17,Dec/17,Jan/18,Feb/18,Mar/18,Apr/18,May/18,Jun/18,updated date,Status
0,373,Ravishankar,Ravishankar,'000000001,RAVISHANKAR,1,ICIC0000000004496003,10th,"5,489",NACH,...,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,NaN,Clear
1,374,Yogesh Baldevbhai Badreshiya,Yogesh Baldevbhai Badreshiya,'000000002,YOGESH BADRESHIYA,000000002,HDFC0000000004993179,10th,"4,825",NACH,...,Recd. On 24.11.17,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,NaN,Clear
2,372,Nagaraj C,Nagaraj C,'000000003,NAGARAJA C,3,PSIB0000000000361767,10th,"5,489",NACH,...,Cleared,Recd. On 14.12.17,Cleared,Recd. On 12.3.18,Recd. On 10.05.18,RETURNED,RETURNED,Returned,NaN,Overdue
3,371,Desuru Rajeeva,Desuru Rajeeva,'000000004,D RAJEEVA,4,ANDB0000000001257927,10th,"5,489",NACH,...,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,Cleared,NaN,Clear
4,370,Rita Sharma,Rita Sharma,'000000005,RITA SHARMA,5,SYNB0000000001393883,10th,"5,489",NACH,...,Recd. On 28.05.18,Recd. On 28.05.18,Recd. On 28.05.18,Recd. On 28.05.18,Rs.3555on28.05.18,RETURNED,RETURNED,Returned,NaN,Overdue

In [35]:
pan_shubhloans.head()

,S. No,Borrower's Name,PAN,Loan_No_as_per_Pooja_Sheet,Mode Of Repayment
0,1,Abhilash Kumar,DQJPK6706H,007-0000016,NACH
1,2,Mohammad Asif,AOKPM3529C,007-0000018,NACH
2,3,M Devendram,BAEPM3982Q,007-0000019,NACH
3,4,Prakash B,BHHPP1850J,007-0000029,NACH
4,5,Joy Thomas,NaN,007-0000033,NACH

#### PAN Duplicates found in Vignesh's sheet

In [53]:
pan_shubhloans.columns = ['serial_no', 'name', 'PAN', 'loan_no', 'repayment_mode']

In [99]:
pan_shubhloans[pan_shubhloans.PAN.duplicated()]
pan_shubhloans[pan_shubhloans.PAN.duplicated()].to_csv('/home/prashant/Downloads/vignesh/pan_shubhloans_duplicate.csv', index=False)

In [68]:
pan_shubhloans[pan_shubhloans.PAN.isnull()]

     serial_no              name  PAN      loan_no   repayment_mode
4            5        Joy Thomas  NaN  007-0000033             NACH
13          14     Ganesh Murthy  NaN  007-0000052             NACH
19          20         Amit Shah  NaN  007-0000060             NACH
147        148  Srinivasan Meena  NaN  007-0000302  Online Transfer

In [69]:
deduped_pan_shubhloans = pan_shubhloans.drop_duplicates(subset='PAN')
deduped_pan_shubhloans = deduped_pan_shubhloans.dropna(subset=['PAN'])

#### Loan no null in Vignesh's sheet

In [100]:
deduped_pan_shubhloans[deduped_pan_shubhloans.loan_no.isnull()]
deduped_pan_shubhloans[deduped_pan_shubhloans.loan_no.isnull()].to_csv('/home/prashant/Downloads/vignesh/Loan_no_null.csv')

In [71]:
deduped_pan_shubhloans = deduped_pan_shubhloans.dropna(subset=['loan_no'])

#### Loan no duplicate in Vignesh's sheet

In [101]:
deduped_pan_shubhloans[deduped_pan_shubhloans.loan_no.duplicated()]
deduped_pan_shubhloans[deduped_pan_shubhloans.loan_no.duplicated()].to_csv('/home/prashant/Downloads/vignesh/Loan_no_duplicate_vi_list.csv')

In [73]:
deduped = deduped_pan_shubhloans.dropna(subset=['loan_no'])

In [82]:
deduped.loan_no = deduped.loan_no.str.replace("'", "")

In [87]:
master_sheet.columns = ['serial_no', 'name', 'name_pooja_sheet',
       'loan_no', 'borrower_bank',
       'Reference Number', 'UMRN', 'Date', ' EMI Amount ', 'Payment Mode',
       'Jul/17', 'Aug/17', 'Sep/17', 'Oct/17', 'Nov/17', 'Dec/17', 'Jan/18',
       'Feb/18', 'Mar/18', 'Apr/18', 'May/18', 'Jun/18', 'updated date',
       'Status']

In [89]:
master_sheet[master_sheet.loan_no.duplicated()]

Empty DataFrame
Columns: [serial_no, name, name_pooja_sheet, loan_no, borrower_bank, Reference Number, UMRN, Date,  EMI Amount , Payment Mode, Jul/17, Aug/17, Sep/17, Oct/17, Nov/17, Dec/17, Jan/18, Feb/18, Mar/18, Apr/18, May/18, Jun/18, updated date, Status]
Index: []

[0 rows x 24 columns]

In [91]:
master_sheet[master_sheet.loan_no.isnull()]

Empty DataFrame
Columns: [serial_no, name, name_pooja_sheet, loan_no, borrower_bank, Reference Number, UMRN, Date,  EMI Amount , Payment Mode, Jul/17, Aug/17, Sep/17, Oct/17, Nov/17, Dec/17, Jan/18, Feb/18, Mar/18, Apr/18, May/18, Jun/18, updated date, Status]
Index: []

[0 rows x 24 columns]

In [93]:
master_sheet.loan_no = master_sheet.loan_no.str.replace("'", "")

In [95]:
print(deduped.loan_no.nunique(), master_sheet.loan_no.nunique())

1002 936

In [96]:
merged = master_sheet.merge(deduped, on='loan_no')

In [111]:
merged.to_csv('/home/prashant/Downloads/vignesh/merged.csv')

In [116]:
# missing_id = set(master_sheet.loan_no) - set(merged.loan_no)

In [118]:
# missing_id.to_csv('/home/prashant/Downloads/vignesh/missing_id.csv')

In [102]:
# master_sheet.drop_duplicates(subset='Loan_No_as_per_Pooja_Sheet', keep=False)

In [103]:
# master_sheet

In [110]:
# pan_shubhloans.drop_duplicates(subset='Loan_No_as_per_Pooja_Sheet')

In [104]:
# mapping_Id_pan = pan_shubhloans.merge(master_sheet, on='Loan_No_as_per_Pooja_Sheet')

In [105]:
# mapping_Id_pan

In [106]:
# mapping_Id_pan.to_csv('/home/prashant/Downloads/vignesh/ma.csv')

In [107]:
# mapping_Id_pan.drop_duplicates().head(2)

In [109]:
# mapping_Id_pan[['PAN', 'Loan_No_Pooja_Sheet']].head()

In [14]:
# master_sheet.head()

In [2]:
# pan_shubhloans.head()

In [3]:
# common = master_sheet.merge(pan_shubhloans, on='Loan_No_Pooja_Sheet')
# missing_in_pooja_sheet = master_sheet[~master_sheet.Loan_No_Pooja_Sheet.isin(common.Loan_No_Pooja_Sheet)]

In [4]:
# missing_from_pooja_list=[x for x in master_sheet.Loan_No_Pooja_Sheet if x not in pan_shubhloans.Loan_No_Pooja_Sheet.unique()]

In [5]:

# missing_from_pooja_list= out.csv('/home/prashant/Downloads/vignesh/missing_from_pooja_list')

In [6]:
# missing_in_pooja_sheet.count()

In [7]:
# missing_from_pooja_list

In [8]:
# missing_in_pooja_sheet

In [56]:
# loan_id_master_sheet = master_sheet['Loan No Pooja Sheet']
# loan_id_pan_shubhloan = pan_shubhloans[['Loan No Pooja Sheet']
# print("test")
# # type(loan_id_master_sheet)
# # type(loan_id_pan_shubhloan)
# # diff = list(set(loan_id_master_sheet) - set(loan_id_pan_shubhloan))
# # diff

In [9]:
# mapping_Id_pan.to_csv('/home/prashant/Downloads/vignesh/mapping_Id_pan.csv')

In [10]:
# missing_from_pooja_list

In [11]:
# df = pd.read_csv('/home/prashant/Downloads/vignesh/ma.csv')
# deduped_pans = df.drop_duplicates(subset='PAN')
# deduped_pans = deduped_pans.dropna(subset=['PAN'])

In [12]:
# deduped_pans.columns

In [13]:
# deduped_pans.to_csv('deduped_pans.csv', index=False)