In [1]:
import pandas as pd

In [2]:
all_data = pd.read_csv('/home/prashant/Downloads/pincode/pin_codes.csv')

In [3]:
all_data.head()

   pincode   districtname statename  serviceable
0   110001  Central Delhi     DELHI            1
1   110002  Central Delhi     DELHI            1
2   110003  Central Delhi     DELHI            1
3   110004  Central Delhi     DELHI            1
4   110005  Central Delhi     DELHI            1

In [4]:
type(all_data.pincode)

pandas.core.series.Series

In [5]:
# serviceable = all_data[all_data['serviceable']==1]
# len(serviceable)

In [6]:
serviceable_district = all_data[all_data['serviceable'] == 1]['districtname'].unique()

In [7]:
serviceable_district

array(['Central Delhi', 'North Delhi', 'North West Delhi',
       'South West Delhi', 'South Delhi', 'West Delhi', 'East Delhi',
       'North East Delhi', 'New Delhi', 'Gurgaon', 'Faridabad',
       'Panchkula', 'Mohali', 'Chandigarh', 'Ghaziabad',
       'Gautam Buddha Nagar', 'Jaipur', 'Ahmedabad', 'Gandhi Nagar',
       'Mumbai', 'Thane', 'Pune', 'Nashik', 'Hyderabad', 'K.V.Rangareddy',
       'Bengaluru', 'Bangalore Rural', 'Kolar', 'Chennai', 'Kanchipuram',
       'Tiruvallur', 'Kolkata', 'Howrah', 'Hooghly'], dtype=object)

In [8]:
cityname_map = {'Central Delhi' :'Delhi', 'North Delhi' :'Delhi', 'North West Delhi' :'Delhi',
       'South West Delhi' :'Delhi', 'South Delhi' :'Delhi', 'West Delhi' :'Delhi', 'East Delhi' :'Delhi',
       'North East Delhi' :'Delhi', 'New Delhi' :'Delhi', 'Gurgaon': 'Gurgaon', 'Faridabad': 'Faridabad',
       'Panchkula' : 'Panchkula', 'Mohali': 'Mohali', 'Chandigarh':'Chandigarh', 'Ghaziabad':'Ghaziabad',
       'Gautam Buddha Nagar': 'Noida', 'Jaipur': 'Jaipur', 'Ahmedabad': 'Ahmedabad', 'Gandhi Nagar': 'Gandhi Nagar',
       'Mumbai': 'Mumbai', 'Thane': 'Thane', 'Pune':'Pune', 'Nashik': 'Nashik', 'Hyderabad': 'Hyderabad', 'K.V.Rangareddy':'Hyderabad',
       'Bengaluru':'Bengaluru', 'Bangalore Rural':'Bengaluru', 'Kolar':'Kolar', 'Chennai':'Chennai', 'Kanchipuram': 'Kanchipuram',
       'Tiruvallur':'Tiruvallur', 'Kolkata': 'Kolkata', 'Howrah': 'Howrah', 'Hooghly':'Hooghly'}

In [9]:
# serviceable['cityname'] = serviceable['districtname'].apply(lambda dist:cityname_map.get(dist,dist))

In [10]:
# len(serviceable)

In [11]:
# serviceable.head()

In [12]:
# serviceable[serviceable.cityname.isnull()]

In [13]:
# non_serviceable = all_data[all_data['serviceable']==0]
# len(non_serviceable)

In [14]:
# non_serviceable.head()

In [15]:
# non_serviceable.cityname = non_serviceable.districtname

In [16]:
# non_serviceable.head()

In [17]:
def fn(row):
    if row.serviceable == 1:
        return cityname_map.get(row.districtname, row.districtname)
    else:
        return row.districtname

In [18]:
all_data['cityname'] = all_data.apply(fn, axis=1)

In [19]:
all_data

       pincode      districtname statename  serviceable    cityname
0       110001     Central Delhi     DELHI            1       Delhi
1       110002     Central Delhi     DELHI            1       Delhi
2       110003     Central Delhi     DELHI            1       Delhi
3       110004     Central Delhi     DELHI            1       Delhi
4       110005     Central Delhi     DELHI            1       Delhi
5       110006     Central Delhi     DELHI            1       Delhi
6       110007       North Delhi     DELHI            1       Delhi
7       110008     Central Delhi     DELHI            1       Delhi
8       110009  North West Delhi     DELHI            1       Delhi
9       110010  South West Delhi     DELHI            1       Delhi
10      110011     Central Delhi     DELHI            1       Delhi
11      110012     Central Delhi     DELHI            1       Delhi
12      110013       South Delhi     DELHI            1       Delhi
13      110014       South Delhi     DELHI            1       Delhi
14      110015        West Delhi     DELHI            1       Delhi
15      110016  South West Delhi     DELHI            1       Delhi
16      110017       South Delhi     DELHI            1       Delhi
17      110018        West Delhi     DELHI            1       Delhi
18      110019       South Delhi     DELHI            1       Delhi
19      110020       South Delhi     DELHI            1       Delhi
20      110021  South West Delhi     DELHI            1       Delhi
21      110022  South West Delhi     DELHI            1       Delhi
22      110023  South West Delhi     DELHI            1       Delhi
23      110024       South Delhi     DELHI            1       Delhi
24      110025       South Delhi     DELHI            1       Delhi
25      110026        West Delhi     DELHI            1       Delhi
26      110027        West Delhi     DELHI            1       Delhi
27      110028  South West Delhi     DELHI            1       Delhi
28      110029  South West Delhi     DELHI            1       Delhi
29      110030  South West Delhi     DELHI            1       Delhi
...        ...               ...       ...          ...         ...
19365   854316            Purnia     BIHAR            0      Purnia
19366   854317           Katihar     BIHAR            0     Katihar
19367   854318            Araria     BIHAR            0      Araria
19368   854325            Purnia     BIHAR            0      Purnia
19369   854326            Purnia     BIHAR            0      Purnia
19370   854327            Purnia     BIHAR            0      Purnia
19371   854328            Araria     BIHAR            0      Araria
19372   854329            Araria     BIHAR            0      Araria
19373   854330            Purnia     BIHAR            0      Purnia
19374   854331            Araria     BIHAR            0      Araria
19375   854332            Araria     BIHAR            0      Araria
19376   854333            Araria     BIHAR            0      Araria
19377   854334            Araria     BIHAR            0      Araria
19378   854335            Araria     BIHAR            0      Araria
19379   854336            Araria     BIHAR            0      Araria
19380   854337            Purnia     BIHAR            0      Purnia
19381   854338            Supaul     BIHAR            0      Supaul
19382   854339            Supaul     BIHAR            0      Supaul
19383   854340            Supaul     BIHAR            0      Supaul
19384   855101        Kishanganj     BIHAR            0  Kishanganj
19385   855102           Katihar     BIHAR            0     Katihar
19386   855105           Katihar     BIHAR            0     Katihar
19387   855106        Kishanganj     BIHAR            0  Kishanganj
19388   855107        Kishanganj     BIHAR            0  Kishanganj
19389   855108        Kishanganj     BIHAR            0  Kishanganj
19390   855113           Katihar     BIHAR            0     Katihar
19391   855114           Katihar     BIHAR            0     Katihar
19392   855115        Kishanganj     BIHAR            0  Kishanganj
19393   855116        Kishanganj     BIHAR            0  Kishanganj
19394   855117        Kishanganj     BIHAR            0  Kishanganj

[19395 rows x 5 columns]

In [20]:
all_data[all_data.cityname.isnull()]

Empty DataFrame
Columns: [pincode, districtname, statename, serviceable, cityname]
Index: []

In [21]:
all_data.to_csv('/home/prashant/Downloads/pincode/all_data_city_mapped.csv')