In [1]:
import pandas as pd
import time
import datetime

In [12]:
All_data = pd.read_csv("/home/prashant/Downloads/Puneeth_GM/DMIcases_UC.csv")

In [13]:
All_data.head()

,Application ID,Opportunity Name,Application Id,Account Name,Sanction Amount,Net Amount to be Disbursed,Beneficiary Name,Beneficiary Acc No,IFSC Code,UTR Number,Close Date,EMI date
0,43812,DMI0000845552,SL43812_1532676985,Nanda Tanaji Patil,40000,34500,URBAN CLAP TECHNOLOGIES INDIA PVT LTD,7105006973,ICIC0000071,KKBK182123085655,7/31/2018,9/5/2018
1,52352,DMI0000848461,SL52352_1531399039,Ravi LNU,24800,21000,URBANCLAP TECHNOLOGIES INDIA PVT LTD,7105006973,ICIC0000071,KKBK182123085658,7/31/2018,9/5/2018
2,55914,DMI0000848284,SL55914_1531405226,B Thanmawia,24800,21000,URBANCLAP TECHNOLOGIES INDIA PVT LTD,7105006973,ICIC0000071,KKBK182123085652,7/31/2018,9/5/2018
3,56360,DMI0000835681,SL56360_1531482996,ABHILASH KISHOR,24800,21000,URBANCLAP TECHNOLOGIES INDIA PVT LTD,7105006973,ICIC0000071,KKBK182123085697,7/31/2018,9/5/2018
4,56307,DMI0000848385,SL56307_1531734755,Narjis LNU,40000,34500,URBANCLAP TECHNOLOGIES INDIA PVT LTD,7105006973,ICIC0000071,KKBK182123085627,7/31/2018,9/5/2018

In [14]:
All_data.columns

Index(['Application ID', 'Opportunity Name', 'Application Id', ' Account Name',
       'Sanction Amount', 'Net Amount to be Disbursed', 'Beneficiary Name',
       'Beneficiary Acc No', ' IFSC Code', 'UTR Number', ' Close Date',
       'EMI date'],
      dtype='object')

In [28]:
All_data.columns = ['Application_ID', 'Opportunity_Name', 'Application_Id', ' Account_Name',
       'Sanction_Amount', 'Net_Amount_TBD', 'Beneficiary_Name',
       'Beneficiary_Acc_No', ' IFSC_Code', 'UTR_Number', 'Close_Date',
       'EMI_date']

In [29]:
All_data.head()

,Application_ID,Opportunity_Name,Application_Id,Account_Name,Sanction_Amount,Net_Amount_TBD,Beneficiary_Name,Beneficiary_Acc_No,IFSC_Code,UTR_Number,Close_Date,EMI_date
0,43812,DMI0000845552,SL43812_1532676985,Nanda Tanaji Patil,40000,34500,URBAN CLAP TECHNOLOGIES INDIA PVT LTD,7105006973,ICIC0000071,KKBK182123085655,7/31/2018,9/5/2018
1,52352,DMI0000848461,SL52352_1531399039,Ravi LNU,24800,21000,URBANCLAP TECHNOLOGIES INDIA PVT LTD,7105006973,ICIC0000071,KKBK182123085658,7/31/2018,9/5/2018
2,55914,DMI0000848284,SL55914_1531405226,B Thanmawia,24800,21000,URBANCLAP TECHNOLOGIES INDIA PVT LTD,7105006973,ICIC0000071,KKBK182123085652,7/31/2018,9/5/2018
3,56360,DMI0000835681,SL56360_1531482996,ABHILASH KISHOR,24800,21000,URBANCLAP TECHNOLOGIES INDIA PVT LTD,7105006973,ICIC0000071,KKBK182123085697,7/31/2018,9/5/2018
4,56307,DMI0000848385,SL56307_1531734755,Narjis LNU,40000,34500,URBANCLAP TECHNOLOGIES INDIA PVT LTD,7105006973,ICIC0000071,KKBK182123085627,7/31/2018,9/5/2018

In [8]:
# consolidated_data  = pd.read_csv("/home/prashant/Downloads/Puneeth_GM/Condolidated_DMI_cases.csv")

In [9]:
# len(consolidated_data)

In [10]:
# consolidated_data.columns = ['loandetail_applicationid', 'loandetail_tenuremonths',
#        'loandetail_lenderapplicationid', 'loandetail_amount', 'Close_date',
#        'EMI_date']

In [11]:
# consolidated_data.head()

In [7]:
# All_data_revised = consolidated_data.set_index('loandetail_lenderapplicationid').join(All_data.set_index('Application_Id'))

In [8]:
# All_data_revised.to_csv("/home/prashant/Downloads/Puneeth_GM/All_data_revised.csv")

In [9]:
# All_data_revised.head()

In [13]:
# Open_market_data = pd.read_csv("/home/prashant/Downloads/Puneeth_GM/All_data_revised_drive_open.csv")

In [10]:
# openM_data = pd.read_csv("/home/prashant/Downloads/Puneeth_GM/All_data_revised_drive_UC.csv")

In [11]:
# Uc_data.head()

In [17]:
# len(Uc_data)

In [117]:
# len(All_data_revised)

In [30]:
Emi_calc = pd.read_csv("/home/prashant/Downloads/Puneeth_GM/EmiCalc_UC.csv")

In [31]:
Emi_calc.head()

   Unnamed: 0  application_id  loan_amount  tenure   roi      emi
0           0           43812      40000.0       4  28.0  10000.0
1           1           52352      24800.0       4  28.0   6200.0
2           2           55914      24800.0       4  28.0   6200.0
3           3           56360      24800.0       4  28.0   6200.0
4           4           56307      40000.0       4  28.0  10000.0

In [32]:
Data_with_EMI = All_data.reset_index().set_index('Application_ID').join(Emi_calc.set_index('application_id'))

In [10]:
# Data_with_EMI.dropna()

In [33]:
Data_with_EMI.head()

,index,Opportunity_Name,Application_Id,Account_Name,Sanction_Amount,Net_Amount_TBD,Beneficiary_Name,Beneficiary_Acc_No,IFSC_Code,UTR_Number,Close_Date,EMI_date,Unnamed: 0,loan_amount,tenure,roi,emi
Application_ID,,,,,,,,,,,,,,,,,
43812,0,DMI0000845552,SL43812_1532676985,Nanda Tanaji Patil,40000,34500,URBAN CLAP TECHNOLOGIES INDIA PVT LTD,7105006973,ICIC0000071,KKBK182123085655,7/31/2018,9/5/2018,0,40000.0,4,28.0,10000.0
52352,1,DMI0000848461,SL52352_1531399039,Ravi LNU,24800,21000,URBANCLAP TECHNOLOGIES INDIA PVT LTD,7105006973,ICIC0000071,KKBK182123085658,7/31/2018,9/5/2018,1,24800.0,4,28.0,6200.0
55914,2,DMI0000848284,SL55914_1531405226,B Thanmawia,24800,21000,URBANCLAP TECHNOLOGIES INDIA PVT LTD,7105006973,ICIC0000071,KKBK182123085652,7/31/2018,9/5/2018,2,24800.0,4,28.0,6200.0
56360,3,DMI0000835681,SL56360_1531482996,ABHILASH KISHOR,24800,21000,URBANCLAP TECHNOLOGIES INDIA PVT LTD,7105006973,ICIC0000071,KKBK182123085697,7/31/2018,9/5/2018,3,24800.0,4,28.0,6200.0
56307,4,DMI0000848385,SL56307_1531734755,Narjis LNU,40000,34500,URBANCLAP TECHNOLOGIES INDIA PVT LTD,7105006973,ICIC0000071,KKBK182123085627,7/31/2018,9/5/2018,4,40000.0,4,28.0,10000.0

In [34]:
len(Data_with_EMI)

11

In [35]:
Data_with_EMI.columns

Index(['index', 'Opportunity_Name', 'Application_Id', ' Account_Name',
       'Sanction_Amount', 'Net_Amount_TBD', 'Beneficiary_Name',
       'Beneficiary_Acc_No', ' IFSC_Code', 'UTR_Number', 'Close_Date',
       'EMI_date', 'Unnamed: 0', 'loan_amount', 'tenure', 'roi', 'emi'],
      dtype='object')

In [36]:
Data_with_EMI = Data_with_EMI[['Application_Id', 'Close_Date', 'EMI_date', 'Opportunity_Name', 'emi', 'UTR_Number']]

In [37]:
Data_with_EMI.head()

,Application_Id,Close_Date,EMI_date,Opportunity_Name,emi,UTR_Number
Application_ID,,,,,,
43812,SL43812_1532676985,7/31/2018,9/5/2018,DMI0000845552,10000.0,KKBK182123085655
52352,SL52352_1531399039,7/31/2018,9/5/2018,DMI0000848461,6200.0,KKBK182123085658
55914,SL55914_1531405226,7/31/2018,9/5/2018,DMI0000848284,6200.0,KKBK182123085652
56360,SL56360_1531482996,7/31/2018,9/5/2018,DMI0000835681,6200.0,KKBK182123085697
56307,SL56307_1531734755,7/31/2018,9/5/2018,DMI0000848385,10000.0,KKBK182123085627

In [126]:
# Data_with_EMI.to_csv("/home/prashant/Downloads/Puneeth_GM/Data_with_EMI_openM_final.csv")

In [127]:
# Data_with_EMI_1 = Data_with_EMI['emi_calc']

In [128]:
# Data_with_EMI_1.isnull

In [38]:
Data_with_EMI['New_Emi_date'] = Data_with_EMI.apply(lambda row:datetime.datetime.strptime(row['EMI_date'],"%d/%m/%Y"), axis=1)

In [39]:
Data_with_EMI['New_Close_Date'] = Data_with_EMI.apply(lambda row:datetime.datetime.strptime(row['Close_Date'],"%m/%d/%Y"), axis=1)

In [10]:
datetime.datetime.strptime("2018/05/05", "%Y/%m/%d").strftime("%Y-%m-%d")

'2018-05-05'

In [ ]:
datetime.datetime.strtime()

In [40]:
Data_with_EMI.head()

,Application_Id,Close_Date,EMI_date,Opportunity_Name,emi,UTR_Number,New_Emi_date,New_Close_Date
Application_ID,,,,,,,,
43812,SL43812_1532676985,7/31/2018,9/5/2018,DMI0000845552,10000.0,KKBK182123085655,2018-05-09,2018-07-31
52352,SL52352_1531399039,7/31/2018,9/5/2018,DMI0000848461,6200.0,KKBK182123085658,2018-05-09,2018-07-31
55914,SL55914_1531405226,7/31/2018,9/5/2018,DMI0000848284,6200.0,KKBK182123085652,2018-05-09,2018-07-31
56360,SL56360_1531482996,7/31/2018,9/5/2018,DMI0000835681,6200.0,KKBK182123085697,2018-05-09,2018-07-31
56307,SL56307_1531734755,7/31/2018,9/5/2018,DMI0000848385,10000.0,KKBK182123085627,2018-05-09,2018-07-31

In [31]:
# Data_with_EMI.head()

In [33]:
# Data_with_EMI['New_Emi_date_1'] = Data_with_EMI.apply(lambda row: datetime.datetime.strftime(row['New_Emi_date_1'],"%Y-%m-%d"), axis=1)

In [34]:
# Data_with_EMI['New_Close_Date_1'] = Data_with_EMI.apply(lambda row: datetime.datetime.strftime(row['Close_Date'],"%Y-%m-%d"), axis=1)

In [41]:
Data_with_EMI.head()

,Application_Id,Close_Date,EMI_date,Opportunity_Name,emi,UTR_Number,New_Emi_date,New_Close_Date
Application_ID,,,,,,,,
43812,SL43812_1532676985,7/31/2018,9/5/2018,DMI0000845552,10000.0,KKBK182123085655,2018-05-09,2018-07-31
52352,SL52352_1531399039,7/31/2018,9/5/2018,DMI0000848461,6200.0,KKBK182123085658,2018-05-09,2018-07-31
55914,SL55914_1531405226,7/31/2018,9/5/2018,DMI0000848284,6200.0,KKBK182123085652,2018-05-09,2018-07-31
56360,SL56360_1531482996,7/31/2018,9/5/2018,DMI0000835681,6200.0,KKBK182123085697,2018-05-09,2018-07-31
56307,SL56307_1531734755,7/31/2018,9/5/2018,DMI0000848385,10000.0,KKBK182123085627,2018-05-09,2018-07-31

In [44]:
Data_with_EMI = Data_with_EMI[['Application_Id','New_Emi_date','Opportunity_Name', 'emi', 'UTR_Number', 'New_Close_Date']]

In [48]:
Data_with_EMI.head

<bound method NDFrame.head of                     Application_Id New_Emi_date Opportunity_Name      emi  \
Application_ID
43812           SL43812_1532676985   2018-05-09    DMI0000845552  10000.0
52352           SL52352_1531399039   2018-05-09    DMI0000848461   6200.0
55914           SL55914_1531405226   2018-05-09    DMI0000848284   6200.0
56360           SL56360_1531482996   2018-05-09    DMI0000835681   6200.0
56307           SL56307_1531734755   2018-05-09    DMI0000848385  10000.0
58737           SL58737_1531738865   2018-05-09    DMI0000846239   6200.0
57575           SL57575_1531831267   2018-05-09    DMI0000848533  10000.0
60425           SL60425_1532004597   2018-05-09    DMI0000848344   7337.5
60535           SL60535_1532073215   2018-05-09    DMI0000836005  10000.0
61266           SL61266_1532171650   2018-05-09    DMI0000839392   6200.0
60538           SL60538_1532346389   2018-05-09    DMI0000836319  10000.0

                      UTR_Number New_Close_Date
Application_ID
43812           KKBK182123085655     2018-07-31
52352           KKBK182123085658     2018-07-31
55914           KKBK182123085652     2018-07-31
56360           KKBK182123085697     2018-07-31
56307           KKBK182123085627     2018-07-31
58737           KKBK182123085592     2018-07-31
57575           KKBK182123085629     2018-07-31
60425           KKBK182123085608     2018-07-31
60535           KKBK182123085558     2018-07-31
61266           KKBK182123085521     2018-07-31
60538           KKBK182123085621     2018-07-31  >

In [47]:
len(Data_with_EMI)

11

In [ ]:
# struct_time = time.strptime("30 Nov 00", "%d %b %y")

In [ ]:
# struct_time

In [46]:
Data_with_EMI.to_csv("/home/prashant/Downloads/Puneeth_GM/Data_with_EMI_UC_final.csv")