In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/home/prashant/Downloads/pincode/all_city_along_with_pincode_lat_long.csv')

In [3]:
df2 = pd.read_csv('/home/prashant/Downloads/pincode/merged_1.csv')

In [4]:
df = pd.merge(df1, df2, on='pincode')

In [5]:
df

,pincode,district_name,state_name,serviceable,city_name,city_lat,city_long,pincode_lat,pincode_long
0,110001,Central Delhi,DELHI,1,Delhi,28.704059,77.102490,28.632743,77.219597
1,110002,Central Delhi,DELHI,1,Delhi,28.704059,77.102490,28.635220,77.246886
2,110003,Central Delhi,DELHI,1,Delhi,28.704059,77.102490,28.591647,77.231786
3,110004,Central Delhi,DELHI,1,Delhi,28.704059,77.102490,28.614153,77.195962
4,110005,Central Delhi,DELHI,1,Delhi,28.704059,77.102490,28.655679,77.187460
5,110006,Central Delhi,DELHI,1,Delhi,28.704059,77.102490,28.661078,77.234588
6,110007,North Delhi,DELHI,1,Delhi,28.704059,77.102490,28.678583,77.191584
7,110008,Central Delhi,DELHI,1,Delhi,28.704059,77.102490,28.648216,77.164072
8,110009,North West Delhi,DELHI,1,Delhi,28.704059,77.102490,28.710865,77.203149
9,110010,South West Delhi,DELHI,1,Delhi,28.704059,77.102490,28.592930,77.121820
10,110011,Central Delhi,DELHI,1,Delhi,28.704059,77.102490,28.604077,77.211611
11,110012,Central Delhi,DELHI,1,Delhi,28.704059,77.102490,28.628215,77.149390
12,110013,South Delhi,DELHI,1,Delhi,28.704059,77.102490,28.589120,77.256843
13,110014,South Delhi,DELHI,1,Delhi,28.704059,77.102490,28.579276,77.258477
14,110015,West Delhi,DELHI,1,Delhi,28.704059,77.102490,28.658925,77.145761
15,110016,South West Delhi,DELHI,1,Delhi,28.704059,77.102490,28.547170,77.200275
16,110017,South Delhi,DELHI,1,Delhi,28.704059,77.102490,28.527912,77.208899
17,110018,West Delhi,DELHI,1,Delhi,28.704059,77.102490,28.643608,77.086984
18,110019,South Delhi,DELHI,1,Delhi,28.704059,77.102490,28.534692,77.260174
19,110020,South Delhi,DELHI,1,Delhi,28.704059,77.102490,28.538848,77.275373
20,110021,South West Delhi,DELHI,1,Delhi,28.704059,77.102490,28.588363,77.185907
21,110022,South West Delhi,DELHI,1,Delhi,28.704059,77.102490,28.564058,77.173697
22,110023,South West Delhi,DELHI,1,Delhi,28.704059,77.102490,28.574812,77.199129
23,110024,South Delhi,DELHI,1,Delhi,28.704059,77.102490,28.568379,77.241646
24,110025,South Delhi,DELHI,1,Delhi,28.704059,77.102490,28.562147,77.285702
25,110026,West Delhi,DELHI,1,Delhi,28.704059,77.102490,28.668316,77.136540
26,110027,West Delhi,DELHI,1,Delhi,28.704059,77.102490,28.646473,77.116945
27,110028,South West Delhi,DELHI,1,Delhi,28.704059,77.102490,28.631833,77.138759
28,110029,South West Delhi,DELHI,1,Delhi,28.704059,77.102490,28.564719,77.200324
29,110030,South West Delhi,DELHI,1,Delhi,28.704059,77.102490,28.495684,77.166494
...,...,...,...,...,...,...,...,...,...
1566,700046,Kolkata,WEST BENGAL,1,Kolkata,22.572646,88.363895,22.546074,88.386066
1567,700047,Kolkata,WEST BENGAL,1,Kolkata,22.572646,88.363895,22.475032,88.376490
1568,700047,Kolkata,WEST BENGAL,1,Kolkata,22.572646,88.363895,22.475032,88.376490
1569,700052,Kolkata,WEST BENGAL,1,Kolkata,22.572646,88.363895,22.654174,88.454923
1570,700052,Kolkata,WEST BENGAL,1,Kolkata,22.572646,88.363895,22.654174,88.454923
1571,700053,Kolkata,WEST BENGAL,1,Kolkata,22.572646,88.363895,22.510771,88.332815
1572,700061,Kolkata,WEST BENGAL,1,Kolkata,22.572646,88.363895,22.486165,88.284214
1573,700065,Kolkata,WEST BENGAL,1,Kolkata,22.572646,88.363895,22.644982,88.407521
1574,700067,Kolkata,WEST BENGAL,1,Kolkata,22.572646,88.363895,16.421683,88.384979
1575,700078,Kolkata,WEST BENGAL,1,Kolkata,22.572646,88.363895,22.507434,88.387283
1576,700086,Kolkata,WEST BENGAL,1,Kolkata,22.572646,88.363895,22.483245,88.378719
1577,700092,Kolkata,WEST BENGAL,1,Kolkata,22.572646,88.363895,22.485037,88.371280
1578,700108,Kolkata,WEST BENGAL,1,Kolkata,22.572646,88.363895,22.644833,88.381338
1579,700108,Kolkata,WEST BENGAL,1,Kolkata,22.572646,88.363895,22.644833,88.381338
1580,711101,Howrah,WEST BENGAL,1,Howrah,22.595769,88.263639,22.593098,88.337344
1581,711102,Howrah,WEST BENGAL,1,Howrah,22.595769,88.263639,22.569681,88.312511
1582,711106,Howrah,WEST BENGAL,1,Howrah,22.595769,88.263639,22.600798,88.346596
1583,711106,Howrah,WEST BENGAL,1,Howrah,22.595769,88.263639,22.600798,88.346596
1584,711302,Howrah,WEST BENGAL,1,Howrah,22.595769,88.263639,22.573834,88.177918
1585,711303,Howrah,WEST BENGAL,1,Howrah,22.595769,88.263639,22.487742,87.953085
1586,711401,Howrah,WEST BENGAL,1,Howrah,22.595769,88.263639,22.571756,88.002059
1587,711401,Howrah,WEST BENGAL,1,Howrah,22.595769,88.263639,22.571756,88.002059
1588,712101,Hooghly,WEST BENGAL,1,Hooghly,22.896256,88.246118,22.893474,88.367679
1589,712136,Hooghly,WEST BENGAL,1,Hooghly,22.896256,88.246118,22.855751,88.357930
1590,712232,Hooghly,WEST BENGAL,1,Hooghly,22.896256,88.246118,22.673991,88.350647
1591,712232,Hooghly,WEST BENGAL,1,Hooghly,22.896256,88.246118,22.673991,88.350647
1592,712246,Hooghly,WEST BENGAL,1,Hooghly,22.896256,88.246118,22.697671,88.336077
1593,712311,Hooghly,WEST BENGAL,1,Hooghly,22.896256,88.246118,22.676336,88.289905
1594,712415,Hooghly,WEST BENGAL,1,Hooghly,22.896256,88.246118,22.832584,87.904057
1595,712702,Hooghly,WEST BENGAL,1,Hooghly,22.896256,88.246118,22.696795,88.253419

In [6]:
df.to_csv('all_data_pin_city.csv', index=False)

In [7]:
!pip install geopy

Requirement already satisfied: geopy in /home/prashant/anaconda3/lib/python3.6/site-packages
Requirement already satisfied: geographiclib<2,>=1.49 in /home/prashant/anaconda3/lib/python3.6/site-packages (from geopy)
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [8]:
!which python

/home/prashant/anaconda3/bin/python

In [9]:
from geopy.distance import vincenty

In [10]:
def get_dist_mile(row):
    p1 = (row['city_lat'], row['city_long'])
    p2 = (row['pincode_lat'], row['pincode_long'])
    return vincenty(p1, p2).meters//1000

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("all_data_pin_city.csv", sep = ",")

In [13]:
df['distance'] = df.apply(get_dist_mile, axis=1)
df.to_csv('pincode_distance.csv', index=False)

In [14]:
df['distance']

0        13.0
1        16.0
2        17.0
3        13.0
4         9.0
5        13.0
6         9.0
7         8.0
8         9.0
9        12.0
10       15.0
11        9.0
12       19.0
13       20.0
14        6.0
15       19.0
16       22.0
17        6.0
18       24.0
19       24.0
20       15.0
21       17.0
22       17.0
23       20.0
24       23.0
25        5.0
26        6.0
27        8.0
28       18.0
29       23.0
        ...
1566      3.0
1567     10.0
1568     10.0
1569     13.0
1570     13.0
1571      7.0
1572     12.0
1573      9.0
1574    680.0
1575      7.0
1576     10.0
1577      9.0
1578      8.0
1579      8.0
1580      7.0
1581      5.0
1582      8.0
1583      8.0
1584      9.0
1585     34.0
1586     27.0
1587     27.0
1588     12.0
1589     12.0
1590     26.0
1591     26.0
1592     23.0
1593     24.0
1594     35.0
1595     22.0
Name: distance, Length: 1596, dtype: float64

In [15]:
to_check = df[df.distance.apply(lambda x: x < 500 and x > 50)]

In [16]:
df[df.distance>500]

,pincode,district_name,state_name,serviceable,city_name,city_lat,city_long,pincode_lat,pincode_long,distance
95,110097,South West Delhi,DELHI,1,Delhi,28.704059,77.102490,36.606744,127.499187,4754.0
123,122105,Gurgaon,HARYANA,1,Gurgaon,28.459497,77.026638,42.138642,120.973200,4221.0
205,160011,Chandigarh,CHANDIGARH,1,Chandigarh,30.733315,76.779418,59.209942,39.898058,4198.0
250,201302,Ghaziabad,UTTAR PRADESH,1,Ghaziabad,28.669156,77.453758,31.032469,121.855661,4270.0
1249,500101,Hyderabad,TELANGANA,1,Hyderabad,17.385044,78.486671,30.807667,108.408661,3370.0
1393,560112,Bengaluru,KARNATAKA,1,Bengaluru,12.971599,77.594563,1.371316,103.835594,3164.0
1410,561201,Bangalore Rural,KARNATAKA,1,Bangalore,12.971599,77.594563,26.139274,105.693709,3278.0
1426,562164,Bangalore Rural,KARNATAKA,1,Bangalore,12.971599,77.594563,37.478203,126.782376,5568.0
1427,563160,Kolar,KARNATAKA,1,Kolar,46.821381,-92.182098,12.959329,77.905318,13310.0
1483,600082,Chennai,TAMIL NADU,1,Chennai,13.082680,80.270718,21.621958,80.220327,945.0
1501,600113,Chennai,TAMIL NADU,1,Chennai,13.082680,80.270718,32.882379,80.245730,2192.0
1508,600048,Kanchipuram,TAMIL NADU,1,Kanchipuram,12.834174,79.703640,22.142538,80.146576,1031.0
1574,700067,Kolkata,WEST BENGAL,1,Kolkata,22.572646,88.363895,16.421683,88.384979,680.0

In [17]:
3/4 df5[df5.age==40]

SyntaxError: invalid syntax (<ipython-input-17-63cfb943e9bd>, line 1)

In [18]:
to_check.to_csv("/home/prashant/sandbox/to_check.csv")