In [1]:
import pandas as pd

In [2]:
data_1  = pd.read_csv('/home/prashant/Downloads/Tie_U_1.csv')
data_1.head()

,employerid,Company Name,SUM of risk_principal_outstanding,SUM of 30+ POS,SUM of POTENTIAL FLDG POS,COUNTA of sl loan status,SUM of PFLDG_loans
0,190,Garuda Maruti,0,0,0.00,2,0
1,191,Sonarome Pvt Ltd,"7,640","7,640",7639.62,2,1
2,193,Housejoy/Sarvaloka,"186,442","10,726",0.00,5,0
3,195,Indus Intex P ltd,"289,070","147,201",147201.19,13,4
4,196,Kataria MOtors,0,0,0.00,2,0

In [3]:
data_2 = pd.read_csv('/home/prashant/Downloads/sample_insustry.csv')
data_2.head()

,_id,name,sector_name,industry_name,industry_group,industry_subgroup
0,482,TATA CONSULTANCY SERVICES LIMITED,Information Technology,Software & Services,IT Software & Services,IT Training Services
1,361,SICAL LOGISTICS LIMITED.,Industrials,Transportation,Transport Services,Logistics
2,434,EIH LIMITED,Fast Moving Consumer Goods (FMCG),"Food, Beverages & Tobacco",Food Products,Other Food Products
3,243,TEAMLEASE SERVICES LIMITED,Consumer Discretionary Goods & Services (CDGS),Diversified Consumer Services,Diversified Consumer Services,Specialized Consumer Services
4,437,LEMON TREE HOTELS LIMITED,Consumer Discretionary Goods & Services (CDGS),"Hotels, Restaurants & Tourism","Hotels, Restaurants & Tourism",Hotels

In [18]:
# data_1.dtypes
data_1['employerid'].astype('object').head()
data_1.dtypes

employerid                            object
Company Name                          object
SUM of risk_principal_outstanding     object
SUM of 30+ POS                        object
SUM of POTENTIAL FLDG POS            float64
COUNTA of sl loan status               int64
SUM of PFLDG_loans                     int64
dtype: object

In [22]:
data_2['_id'].astype('object')
data_2.dtypes

_id                   int64
name                 object
sector_name          object
industry_name        object
industry_group       object
industry_subgroup    object
dtype: object

In [17]:
final_data = pd.merge(data_1, data_2, left_on='employerid', right_on='_id')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat