In [1]:
import pandas as pd
import csv
import requests
from ast import literal_eval

In [2]:
# !pip install geocoder

In [3]:
r = requests.get("https://medulla.datasignstech.com:9443/serviceablePincodes")

In [4]:
serviceable_pincodes = literal_eval(r.text)

In [5]:
currently_unserviceable_pincodes = []
with open('/home/prashant/Downloads/pincode/Pincodes.txt') as f:
    for line in f:
        currently_unserviceable_pincodes.append(line.strip()[:-1])

In [6]:
with open('currently_unserviceable_pincodes.csv', 'w') as f:
    csvwriter = csv.writer(f)
    for val in currently_unserviceable_pincodes:
        csvwriter.writerow([val])

In [7]:
len([x for x in currently_unserviceable_pincodes if x not in serviceable_pincodes]) == len(currently_unserviceable_pincodes)

True

In [8]:
len([x for x in currently_unserviceable_pincodes if x not in serviceable_pincodes])

203

In [9]:
all_pincodes = pd.read_csv("/home/prashant/Downloads/pincode/pincodes.csv")

In [10]:
currently_unserviceable = pd.read_csv('/home/prashant/sandbox/saurabh_list.csv')

In [11]:
merged_pincodes = pd.read_csv('/home/prashant/Downloads/pincode/merged_1.csv')

In [12]:
pincodes_with_district_pincodes = pd.read_csv('/home/prashant/Downloads/pincode/pin_codes.csv')

In [43]:
merged_pincodes_with_cityname_new = pd.read_csv('/home/prashant/Downloads/pincode/merged_pincodes_with_cityname_new.csv')

In [44]:
merged_with_lat_long_saurabh = merged_pincodes.merge(merged_pincodes_with_cityname_new, on='pincode')

In [45]:
merged_with_lat_long_saurabh.districtname.value_counts()
merged_with_lat_long_saurabh.to_csv('/home/prashant/Downloads/pincode/merged_with_lat_long_saurabh.csv')

In [46]:
merged_with_lat_long_saurabh

,pincode,pincode_lat,pincode_long,Unnamed: 0,districtname,statename,serviceable
0,570026,12.275427,76.560383,2,Mysuru,KARNATAKA,0
1,571107,12.373233,76.062398,3,Mysuru,KARNATAKA,0
2,571102,12.462760,76.062398,4,Mysuru,KARNATAKA,0
3,571130,12.396903,76.525701,5,Mysuru,KARNATAKA,0
4,571604,12.562063,76.247912,16,Mysuru,KARNATAKA,0
5,571617,12.472398,76.247912,7,Mysuru,KARNATAKA,0
6,571114,12.025179,76.247912,8,Mysuru,KARNATAKA,0
7,571108,12.380425,76.201557,10,Mysuru,KARNATAKA,0
8,571601,12.578676,76.352151,11,Mysuru,KARNATAKA,0
9,571189,12.208512,76.340573,13,Mysuru,KARNATAKA,0
10,571311,12.215090,76.699017,15,Mysuru,KARNATAKA,0
11,571105,12.246199,76.201557,18,Mysuru,KARNATAKA,0
12,570015,12.338668,76.649935,19,Mysuru,KARNATAKA,0
13,571602,12.445320,76.375305,6,Mysuru,KARNATAKA,0
14,571116,11.927674,76.305833,20,Mysuru,KARNATAKA,0
15,571121,11.877038,76.410027,21,Mysuru,KARNATAKA,0
16,570018,12.340539,76.574831,22,Mysuru,KARNATAKA,0
17,570020,12.338096,76.638383,26,Mysuru,KARNATAKA,0
18,571104,12.424929,75.981156,27,Mysuru,KARNATAKA,0
19,571125,12.123715,76.433170,28,Mysuru,KARNATAKA,0
20,570010,12.231347,76.802893,29,Mysuru,KARNATAKA,0
21,570004,12.299458,76.649935,30,Mysuru,KARNATAKA,0
22,571610,12.376930,76.352151,33,Mysuru,KARNATAKA,0
23,570008,12.220037,76.571941,12,Mysuru,KARNATAKA,0
24,571187,12.539323,76.027586,36,Mysuru,KARNATAKA,0
25,570025,12.281756,76.660042,37,Mysuru,KARNATAKA,0
26,571603,12.527907,76.346362,38,Mysuru,KARNATAKA,0
27,570002,12.331921,76.626831,40,Mysuru,KARNATAKA,0
28,571134,12.373390,76.282668,41,Mysuru,KARNATAKA,0
29,570016,12.350811,76.612388,42,Mysuru,KARNATAKA,0
...,...,...,...,...,...,...,...
113,641014,11.033649,77.039175,102,Coimbatore,TAMIL NADU,0
114,641014,11.033649,77.039175,102,Coimbatore,TAMIL NADU,0
115,641026,11.180752,77.108244,182,Coimbatore,TAMIL NADU,0
116,641026,11.180752,77.108244,182,Coimbatore,TAMIL NADU,0
117,641602,11.105265,77.352542,136,Coimbatore,TAMIL NADU,0
118,641602,11.105265,77.352542,136,Coimbatore,TAMIL NADU,0
119,642202,10.788912,77.137011,105,Coimbatore,TAMIL NADU,0
120,642202,10.788912,77.137011,105,Coimbatore,TAMIL NADU,0
121,641687,11.083536,77.297978,75,Coimbatore,TAMIL NADU,0
122,641687,11.083536,77.297978,75,Coimbatore,TAMIL NADU,0
123,641010,10.954965,76.883626,133,Coimbatore,TAMIL NADU,0
124,641010,10.954965,76.883626,133,Coimbatore,TAMIL NADU,0
125,642001,10.666950,76.993107,118,Coimbatore,TAMIL NADU,0
126,642001,10.666950,76.993107,118,Coimbatore,TAMIL NADU,0
127,641015,11.007614,77.013264,190,Coimbatore,TAMIL NADU,0
128,641015,11.007614,77.013264,190,Coimbatore,TAMIL NADU,0
129,641025,11.039718,76.923973,114,Coimbatore,TAMIL NADU,0
130,641025,11.039718,76.923973,114,Coimbatore,TAMIL NADU,0
131,641603,11.146268,77.338185,85,Coimbatore,TAMIL NADU,0
132,641603,11.146268,77.338185,85,Coimbatore,TAMIL NADU,0
133,641654,11.228314,77.309467,84,Coimbatore,TAMIL NADU,0
134,641654,11.228314,77.309467,84,Coimbatore,TAMIL NADU,0
135,638462,11.347068,77.229019,154,Erode,TAMIL NADU,0
136,638462,11.347068,77.229019,154,Erode,TAMIL NADU,0
137,641402,11.009183,77.113998,79,Coimbatore,TAMIL NADU,0
138,641402,11.009183,77.113998,79,Coimbatore,TAMIL NADU,0
139,641039,11.182397,77.082348,188,Coimbatore,TAMIL NADU,0
140,641039,11.182397,77.082348,188,Coimbatore,TAMIL NADU,0
141,641002,11.010403,76.949903,176,Coimbatore,TAMIL NADU,0
142,641002,11.010403,76.949903,176,Coimbatore,TAMIL NADU,0

In [13]:
currently_unserviceable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 1 columns):
pincode    203 non-null int64
dtypes: int64(1)
memory usage: 1.7 KB

In [14]:
pincodes_with_district_pincodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19395 entries, 0 to 19394
Data columns (total 4 columns):
pincode         19395 non-null int64
districtname    19395 non-null object
statename       19395 non-null object
serviceable     19395 non-null int64
dtypes: int64(2), object(2)
memory usage: 606.2+ KB

In [15]:
merged_pincodes_with_cityname_new = currently_unserviceable.merge(pincodes_with_district_pincodes, on='pincode')

In [16]:
merged_pincodes_with_cityname_new.districtname.value_counts()
merged_pincodes_with_cityname_new.to_csv('/home/prashant/Downloads/pincode/merged_pincodes_with_cityname_new.csv')

In [17]:
#     merged_pincodes = set(merged.pincode)
# unserviceable_pincodes = set(currently_unserviceable.pincode)
# unserviceable_pincodes - merged_pincodes

In [47]:
missing1 = [x for x in merged_pincodes_with_cityname_new if x not in currently_unserviceable.pincode.unique()]

/home/prashant/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  """Entry point for launching an IPython kernel.

In [48]:
missing1

['Unnamed: 0', 'pincode', 'districtname', 'statename', 'serviceable']

In [20]:
merged_pincodes_with_cityname_new

     pincode districtname   statename  serviceable
0     570011       Mysuru   KARNATAKA            0
1     571119       Mysuru   KARNATAKA            0
2     570026       Mysuru   KARNATAKA            0
3     571107       Mysuru   KARNATAKA            0
4     571102       Mysuru   KARNATAKA            0
5     571130       Mysuru   KARNATAKA            0
6     571602       Mysuru   KARNATAKA            0
7     571617       Mysuru   KARNATAKA            0
8     571114       Mysuru   KARNATAKA            0
9     571312       Mysuru   KARNATAKA            0
10    571108       Mysuru   KARNATAKA            0
11    571601       Mysuru   KARNATAKA            0
12    570008       Mysuru   KARNATAKA            0
13    571189       Mysuru   KARNATAKA            0
14    571101       Mysuru   KARNATAKA            0
15    571311       Mysuru   KARNATAKA            0
16    571604       Mysuru   KARNATAKA            0
17    571124       Mysuru   KARNATAKA            0
18    571105       Mysuru   KARNATAKA            0
19    570015       Mysuru   KARNATAKA            0
20    571116       Mysuru   KARNATAKA            0
21    571121       Mysuru   KARNATAKA            0
22    570018       Mysuru   KARNATAKA            0
23    571129       Mysuru   KARNATAKA            0
24    571110       Mysuru   KARNATAKA            0
25    571302       Mysuru   KARNATAKA            0
26    570020       Mysuru   KARNATAKA            0
27    571104       Mysuru   KARNATAKA            0
28    571125       Mysuru   KARNATAKA            0
29    570010       Mysuru   KARNATAKA            0
..       ...          ...         ...          ...
164   641020   Coimbatore  TAMIL NADU            0
165   641005   Coimbatore  TAMIL NADU            0
166   641036   Coimbatore  TAMIL NADU            0
167   641031   Coimbatore  TAMIL NADU            0
168   641033   Coimbatore  TAMIL NADU            0
169   641028   Coimbatore  TAMIL NADU            0
170   641011   Coimbatore  TAMIL NADU            0
171   641017   Coimbatore  TAMIL NADU            0
172   641037   Coimbatore  TAMIL NADU            0
173   641041   Coimbatore  TAMIL NADU            0
174   638458        Erode  TAMIL NADU            0
175   642134   Coimbatore  TAMIL NADU            0
176   641002   Coimbatore  TAMIL NADU            0
177   641027   Coimbatore  TAMIL NADU            0
178   641007   Coimbatore  TAMIL NADU            0
179   641043   Coimbatore  TAMIL NADU            0
180   642123   Coimbatore  TAMIL NADU            0
181   642133   Coimbatore  TAMIL NADU            0
182   641026   Coimbatore  TAMIL NADU            0
183   642125   Coimbatore  TAMIL NADU            0
184   641044   Coimbatore  TAMIL NADU            0
185   641062   Coimbatore  TAMIL NADU            0
186   642006   Coimbatore  TAMIL NADU            0
187   641024   Coimbatore  TAMIL NADU            0
188   641039   Coimbatore  TAMIL NADU            0
189   641034   Coimbatore  TAMIL NADU            0
190   641015   Coimbatore  TAMIL NADU            0
191   641605        Erode  TAMIL NADU            0
192   641111   Coimbatore  TAMIL NADU            0
193   642128   Coimbatore  TAMIL NADU            0

[194 rows x 4 columns]

In [21]:
# missing = [x for x in currently_unserviceable_pincodes if x not in all_pincodes.pincode.unique()]

In [22]:
# missing =[]

In [23]:
# import numpy as np
# for i in (currently_unserviceable_pincodes):
# #     if np.int64(i) not in all_pincodes.pincode.unique():
#         missing.append(i)
# len(missing)

In [24]:
# missing

In [25]:
# for i in currently_unserviceable_pincodes:
#     print(type(i))

In [26]:
# df = pd.DataFrame(all_pincodes.pincode.unique(), )

In [27]:
# df.columns = ['pincodes']

In [28]:
# df

In [29]:
# df['fun'] = 0

In [30]:
# df.loc[df.pincodes == 591316, 'fun'] = 1

In [31]:
# df.loc[df.pincodes==591316]

In [32]:
# missing

In [33]:
import requests
import json

In [34]:
URL = "https://maps.googleapis.com/maps/api/geocode/json"

In [35]:
def get_lat_long(location):
	# defining a params dict for the parameters to be sent to the API
	PARAMS = {'address':location, 'key': "AIzaSyCdN_BqmYYDLUhv9QqO0MrL6qG7L1HUN3M"}
	 
	# sending get request and saving the response as response object
	r = requests.get(url = URL, params = PARAMS)
	 
	# extracting data in json format
	data = r.json()
# 	print(data)
	# extracting latitude, longitude and formatted address 
	# of the first matching location
    
	latitude = data['results'][0]['geometry']['location']['lat']
	longitude = data['results'][0]['geometry']['location']['lng']
	formatted_address = data['results'][0]['formatted_address']
	 
	# printing the output
# 	print("Latitude:%s\nLongitude:%s\nFormatted Address:%s"
# 	      %(latitude, longitude,formatted_address))

	return (latitude, longitude)

In [36]:
# d = {
#     'pincodes': [],
#     'pincode_lat':[],
#     'pincode_long': []
# }

In [37]:
# for pin in merged_pincodes_with_cityname_new:
#     try:
#         data = get_lat_long(pin)
#         d['pincode_lat'].append(data[0]); d['pincode_long'].append(data[1])
#         d['pincodes'].append(pin)
#     except:
#         print("Could not process", pin)

# missing_pins = pd.DataFrame(d)

In [38]:
# get_lat_long(642106)

In [39]:
# missing_pins