In [1]:
import pandas as pd

In [2]:
tushar_data = pd.read_csv("/home/prashant/Downloads/Tushar_Data/DMI_2018-7 - All_tushar.csv")

In [3]:
Vignesh_data = pd.read_csv("/home/prashant/Downloads/Tushar_Data/DMI_Loan_Account_Id_vignesh.csv")

In [4]:
tushar_data.head()

,SL Loan Id,PAN No.,Loan A/C Number,Borrower's Name,Loan Amt.,ROI,Loan Disb Date,EMI Start,Tenure,Proc. Fee,Proc. Fee (Lender Share),Proc. Fee (SL Share),Broken Int(E),Broken Int (Lender Share)(E),Broken Int (SL Share)(E),Interest,Interest (SL Share),Interest (Lender Share)
0,1517,CGZPM1469C,DMI0000278007,MANOJ PRABHAKAR,40000,28,2017-11-04,2017-12-05,12,0.0,0.0,0,0,0,0,414,148,266
1,1552,BFPPR7384F,DMI0000316463,MOHAMMED ATEEQ UR REHMAN,50000,28,2017-12-18,2018-01-05,12,0.0,0.0,0,0,0,0,602,215,387
2,1574,AKNPJ2147G,DMI0000349761,HARIHAR JENA,80000,28,2018-01-08,2018-02-05,24,0.0,0.0,0,0,0,0,1530,546,984
3,1663,CEXPS7482H,DMI0000277567,S SUMAN KUMAR,40000,28,2017-10-31,2017-12-05,12,0.0,0.0,0,0,0,0,414,148,266
4,1668,AFWPY1245G,DMI0000274576,YUVARAJ M,50000,30,2017-10-26,2017-12-05,12,0.0,0.0,0,0,0,0,557,223,334

In [5]:
tushar_data.columns

Index(['SL Loan Id', 'PAN No.', 'Loan A/C Number', 'Borrower's Name',
       'Loan Amt.', 'ROI', 'Loan Disb Date', 'EMI Start', 'Tenure',
       'Proc. Fee', 'Proc. Fee (Lender Share)', 'Proc. Fee (SL Share)',
       'Broken Int(E)', 'Broken Int (Lender Share)(E)',
       'Broken Int (SL Share)(E)', 'Interest', 'Interest (SL Share)',
       'Interest (Lender Share)'],
      dtype='object')

In [6]:
# tushar_data = ['SL_Loan_Id', 'PAN No.', 'Loan A/C Number', 'Borrower_Name',
#        'Loan Amt.', 'ROI', 'Loan Disb Date', 'EMI Start', 'Tenure',
#        'Proc. Fee', 'Proc. Fee (Lender Share)', 'Proc. Fee (SL Share)',
#        'Broken Int(E)', 'Broken Int (Lender Share)(E)',
#        'Broken Int (SL Share)(E)', 'Interest', 'Interest (SL Share)',
#        'Interest (Lender Share)']

In [7]:
tushar_data.head()

,SL Loan Id,PAN No.,Loan A/C Number,Borrower's Name,Loan Amt.,ROI,Loan Disb Date,EMI Start,Tenure,Proc. Fee,Proc. Fee (Lender Share),Proc. Fee (SL Share),Broken Int(E),Broken Int (Lender Share)(E),Broken Int (SL Share)(E),Interest,Interest (SL Share),Interest (Lender Share)
0,1517,CGZPM1469C,DMI0000278007,MANOJ PRABHAKAR,40000,28,2017-11-04,2017-12-05,12,0.0,0.0,0,0,0,0,414,148,266
1,1552,BFPPR7384F,DMI0000316463,MOHAMMED ATEEQ UR REHMAN,50000,28,2017-12-18,2018-01-05,12,0.0,0.0,0,0,0,0,602,215,387
2,1574,AKNPJ2147G,DMI0000349761,HARIHAR JENA,80000,28,2018-01-08,2018-02-05,24,0.0,0.0,0,0,0,0,1530,546,984
3,1663,CEXPS7482H,DMI0000277567,S SUMAN KUMAR,40000,28,2017-10-31,2017-12-05,12,0.0,0.0,0,0,0,0,414,148,266
4,1668,AFWPY1245G,DMI0000274576,YUVARAJ M,50000,30,2017-10-26,2017-12-05,12,0.0,0.0,0,0,0,0,557,223,334

In [8]:
Vignesh_data.head()

,sl_loan_id,sl_application_id,lender_id,lender_application_id,lender_loan_id
0,1806,12385,182,SL12385_1510136364,DMI0000283181
1,2713,16202,182,SL16202_1515581036,DMI0000361342
2,7209,48849,182,SL48849_1528365222,DMI0000662386
3,7268,46673,182,SL46673_1528532181,DMI0000662389
4,7271,46688,182,SL46688_1528533701,DMI0000662391

In [9]:
All_data = tushar_data.set_index('SL Loan Id').join(Vignesh_data.set_index('sl_loan_id'))

In [10]:
All_data.head()

,PAN No.,Loan A/C Number,Borrower's Name,Loan Amt.,ROI,Loan Disb Date,EMI Start,Tenure,Proc. Fee,Proc. Fee (Lender Share),...,Broken Int(E),Broken Int (Lender Share)(E),Broken Int (SL Share)(E),Interest,Interest (SL Share),Interest (Lender Share),sl_application_id,lender_id,lender_application_id,lender_loan_id
1033,CFFPB6946A,DMI0000294166,THIRUPURASUNDARI B,100000,28,2017-11-18,2017-12-05,24,0.0,0.0,...,0,0,0,1728,617,1111,NaN,NaN,NaN,NaN
1282,AQYPN7517P,DMI0000298031,NAGESH N,50000,28,2017-11-27,2018-01-05,12,0.0,0.0,...,0,0,0,615,220,395,NaN,NaN,NaN,NaN
1288,CDSPK2086B,DMI0000284871,KANIKA,140000,30,2017-11-14,2017-12-05,24,0.0,0.0,...,0,0,0,2614,1046,1568,NaN,NaN,NaN,NaN
1374,AICPN5025C,DMI0000298061,VENKATESH N,200000,28,2017-11-27,2018-01-05,24,0.0,0.0,...,0,0,0,3677,1313,2364,NaN,NaN,NaN,NaN
1408,AOJPT3797G,DMI0000287605,HANEESH THOPUGUNTA,30000,30,2017-11-13,2017-12-05,12,0.0,0.0,...,0,0,0,329,132,197,NaN,NaN,NaN,NaN

In [17]:
All_data.reset_index()

,index,PAN No.,Loan A/C Number,Borrower's Name,Loan Amt.,ROI,Loan Disb Date,EMI Start,Tenure,Proc. Fee,...,Broken Int(E),Broken Int (Lender Share)(E),Broken Int (SL Share)(E),Interest,Interest (SL Share),Interest (Lender Share),sl_application_id,lender_id,lender_application_id,lender_loan_id
0,1033,CFFPB6946A,DMI0000294166,THIRUPURASUNDARI B,100000,28,2017-11-18,2017-12-05,24,0.00,...,0,0,0,1728,617,1111,NaN,NaN,NaN,NaN
1,1282,AQYPN7517P,DMI0000298031,NAGESH N,50000,28,2017-11-27,2018-01-05,12,0.00,...,0,0,0,615,220,395,NaN,NaN,NaN,NaN
2,1288,CDSPK2086B,DMI0000284871,KANIKA,140000,30,2017-11-14,2017-12-05,24,0.00,...,0,0,0,2614,1046,1568,NaN,NaN,NaN,NaN
3,1374,AICPN5025C,DMI0000298061,VENKATESH N,200000,28,2017-11-27,2018-01-05,24,0.00,...,0,0,0,3677,1313,2364,NaN,NaN,NaN,NaN
4,1408,AOJPT3797G,DMI0000287605,HANEESH THOPUGUNTA,30000,30,2017-11-13,2017-12-05,12,0.00,...,0,0,0,329,132,197,NaN,NaN,NaN,NaN
5,1441,DNPPK1512J,DMI0000279775,KESAVANARAYANAN,120000,28,2017-11-07,2017-12-05,24,0.00,...,0,0,0,2100,750,1350,NaN,NaN,NaN,NaN
6,1478,BBLPA7251A,DMI0000279743,PRASHANTH ANAND,100000,28,2017-11-04,2017-12-05,24,0.00,...,0,0,0,1754,626,1128,NaN,NaN,NaN,NaN
7,1517,CGZPM1469C,DMI0000278007,MANOJ PRABHAKAR,40000,28,2017-11-04,2017-12-05,12,0.00,...,0,0,0,414,148,266,NaN,NaN,NaN,NaN
8,1535,ALSPL7379L,DMI0000277891,G LOKESH,50000,28,2017-10-31,2017-12-05,12,0.00,...,0,0,0,518,185,333,NaN,NaN,NaN,NaN
9,1552,BFPPR7384F,DMI0000316463,MOHAMMED ATEEQ UR REHMAN,50000,28,2017-12-18,2018-01-05,12,0.00,...,0,0,0,602,215,387,NaN,NaN,NaN,NaN
10,1574,AKNPJ2147G,DMI0000349761,HARIHAR JENA,80000,28,2018-01-08,2018-02-05,24,0.00,...,0,0,0,1530,546,984,NaN,NaN,NaN,NaN
11,1577,COHPM0053G,DMI0000329256,RISHAV MISHRA,40000,30,2017-12-20,2018-01-05,12,0.00,...,0,0,0,516,206,310,NaN,NaN,NaN,NaN
12,1651,BFEPD7027Q,DMI0000283220,DASS,50000,30,2017-11-09,2017-12-05,12,0.00,...,0,0,0,553,221,332,NaN,NaN,NaN,NaN
13,1663,CEXPS7482H,DMI0000277567,S SUMAN KUMAR,40000,28,2017-10-31,2017-12-05,12,0.00,...,0,0,0,414,148,266,NaN,NaN,NaN,NaN
14,1668,AFWPY1245G,DMI0000274576,YUVARAJ M,50000,30,2017-10-26,2017-12-05,12,0.00,...,0,0,0,557,223,334,NaN,NaN,NaN,NaN
15,1700,ANUPV3098E,DMI0000300393,VIKAS S D,30000,30,2017-12-11,2018-01-05,12,0.00,...,0,0,0,393,157,236,NaN,NaN,NaN,NaN
16,1708,BTFPG5678H,DMI0000277778,GADDAMIDHI VIJAYA KUMAR GOUD,50000,30,2017-11-06,2017-12-05,12,0.00,...,0,0,0,556,222,334,NaN,NaN,NaN,NaN
17,1709,AMFPH3626Q,DMI0000276903,SHWETA JAYADEV HIREMATH,80000,28,2017-10-27,2017-12-05,24,0.00,...,0,0,0,1403,501,902,NaN,NaN,NaN,NaN
18,1715,BLBPD7695H,DMI0000293720,RITIK DUBEY,25000,28,2017-11-21,2017-12-05,24,0.00,...,0,0,0,430,154,276,NaN,NaN,NaN,NaN
19,1727,DXEPK6520F,DMI0000277899,S KUMARESAN,80000,28,2017-11-13,2017-12-05,24,0.00,...,0,0,0,1391,497,894,NaN,NaN,NaN,NaN
20,1729,AGZPN8097M,DMI0000278008,MANOHAR,25000,28,2017-11-04,2017-12-05,12,0.00,...,0,0,0,259,92,167,NaN,NaN,NaN,NaN
21,1756,BCFPN4062D,DMI0000277779,NITHAY KV,25000,30,2017-11-06,2017-12-05,12,0.00,...,0,0,0,278,111,167,NaN,NaN,NaN,NaN
22,1758,AIXPT2894E,DMI0000300027,VIJENDERREDDY THIPPARTHI,70000,30,2017-11-30,2018-01-05,24,0.00,...,0,0,0,1385,554,831,NaN,NaN,NaN,NaN
23,1759,AMYPA9565C,DMI0000279241,ANAND B,80000,30,2017-11-03,2017-12-05,24,0.00,...,0,0,0,1511,604,907,NaN,NaN,NaN,NaN
24,1762,AQLPB4019M,DMI0000277537,SHATU BORO,80000,30,2017-10-30,2017-12-05,24,0.00,...,0,0,0,1511,604,907,NaN,NaN,NaN,NaN
25,1768,BKQPR2974F,DMI0000277780,GAGAN PRASAD HR,80000,30,2017-11-06,2017-12-05,24,0.00,...,0,0,0,1509,604,905,NaN,NaN,NaN,NaN
26,1770,BEFPJ1924N,DMI0000279737,JYOTHI,100000,30,2017-11-06,2017-12-05,24,0.00,...,0,0,0,1886,754,1132,NaN,NaN,NaN,NaN
27,1772,BQKPG1171K,DMI0000277895,GOPI M G,70000,28,2017-11-15,2017-12-05,24,0.00,...,0,0,0,1214,434,780,NaN,NaN,NaN,NaN
28,1787,CQWPP9366G,DMI0000283104,PATEL CHIRAGKUMAR VASANTLAL,30000,30,2017-11-08,2017-12-05,12,0.00,...,0,0,0,332,133,199,NaN,NaN,NaN,NaN
29,1791,BVLPA8478D,DMI0000279760,ANIL TERRANCE P,100000,28,2017-11-06,2017-12-05,24,0.00,...,0,0,0,1752,626,1126,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1929,8699,CAEPA4467P,DMI0000832595,IQBAL AHAMED,50000,30,2018-07-30,2018-09-05,24,1500.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1930,8708,CJBPR7717P,SL60016_1532330812,GUNDU RAO,50000,30,2018-07-30,2018-09-05,24,1500.00,...,0,0,0,0,0,0,60016.0,182.0,SL60016_1532330812,DMI0000833178
1931,8710,FXSPS0560M,DMI0000817236,SHARUKH BARI S A,90000,28,2018-07-25,2018-09-05,24,2700.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1932,8716,AWRPT5039K,DMI0000836005,RUPA BHAGAWAN PALASKAR,40000,28,2018-07-31,2018-05-09,4,0.00,...,0,0,0,827,295,532,NaN,NaN,NaN,NaN
1933,8716,AWRPT5039K,DMI0000836005,RUPA BHAGAWAN PALASKAR,40000,28,2018-07-31,2018-05-09,4,1254.45,...,0,0,0,827,0,827,NaN,NaN,NaN,NaN
1934,8737,BPNPG8338C,DMI0000831098,VISHAL GAUTAM,50000,30,2018-07-30,2018-09-05,24,1500.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1935,8742,AMBPC2345P,DMI0000816364,MURALI CIRAMDASU,50000,28,2018-07-25,2018-09-05,24,1500.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1936,8745,ABCDE1234J,DMI0000828355,CH BHAVANI,40000,28,2018-07-27,2018-09-05,4,1254.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1937,8746,AIAPN6158L,DMI0000825331,T M NALINI,50000,28,2018-07-26,2018-09-05,24,1500.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1938,8747,CZKPP6224L,DMI0000823082,PARMAR MEHULKUMAR ASHOKBHAI,30000,28,2018-07-26,2018-09-05,12,900.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1939,8774,CNKPM1007L,DMI0000839392,MALSAWMKIMA,24800,28,2018-07-31,2018-05-09,4,0.00,...,0,0,0,513,183,330,NaN,NaN,NaN,NaN
1940,8774,CNKPM1007L,DMI0000839392,MALSAWMKIMA,24800,28,2018-07-31,2018-05-09,4,777.28,...,0,0,0,513,0,513,NaN,NaN,NaN,NaN
1941,8780,CJPPM7487P,DMI0000831125,JAGADISH M N,25000,30,2018-07-30,2018-09-05,12,750.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1942,8787,CMQPA3647F,SL61005_1532328070,DIXIT AMAR,50000,28,2018-07-27,2018-09-05,24,1500.00,...,0,0,0,0,0,0,61005.0,182.0,SL61005_1532328070,DMI0000826327
1943,8795,AVTPH4446F,DMI0000834956,HARISH S,50000,30,2018-07-30,2018-09-05,24,1500.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1944,8826,BZIPP9500J,DMI0000836319,JENNIFER PETER,40000,28,2018-07-31,2018-05-09,4,0.00,...,0,0,0,827,295,532,NaN,NaN,NaN,NaN
1945,8826,BZIPP9500J,DMI0000836319,JENNIFER PETER,40000,28,2018-07-31,2018-05-09,4,1254.45,...,0,0,0,827,0,827,NaN,NaN,NaN,NaN
1946,8827,AOXPL4724M,SL60941_1532347117,LALRUATFELI,40000,28,2018-07-27,2018-09-05,4,1254.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1947,8828,ABCDE1234A,DMI0000828438,BATHULA AMALESWARI,40000,28,2018-07-27,2018-09-05,4,1254.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1948,8829,BACPR9615R,DMI0000835246,KOMAL ASHOK RAJGURU,40000,28,2018-07-30,2018-09-05,4,1254.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1949,8830,DWFPS3166F,DMI0000828456,JAYA YOGESH SOLANKI,40000,28,2018-07-27,2018-09-05,4,1254.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1950,8832,CJKPB3471K,DMI0000828465,AYESHA BEGUM,40000,28,2018-07-31,2018-09-05,4,1254.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1951,8841,JZJPS9944E,DMI0000828583,TANNU SHARMA,40000,28,2018-07-27,2018-09-05,4,1254.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1952,8858,BROPS6609F,DMI0000823489,S ALBERT,50000,30,2018-07-26,2018-09-05,24,1500.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1953,8891,AVNPT5075C,DMI0000830807,THATHA UMADEVI,50000,28,2018-07-30,2018-09-05,24,1500.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1954,8929,DYDPK2087M,DMI0000835248,DEEVAN KUMAR KANAPUDI,30000,30,2018-07-30,2018-09-05,12,900.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1955,8940,CNKPD2634N,DMI0000833061,DEESHA SHETTY,66500,28,2018-07-29,2018-09-05,24,1995.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1956,8947,BFGPA3599J,SL62778_1532510348,SWATI TULSHIRAM AKOLKAR,29350,28,2018-07-30,2018-09-05,4,920.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1957,8997,BPDPK6965F,DMI0000839390,KUSHAL KUMAR,50000,28,2018-07-31,2018-09-05,24,1500.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1958,9026,AUYPN8580A,DMI0000836321,NETURI NARENDRA,50000,30,2018-07-31,2018-09-05,24,1500.00,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [18]:
All_data.columns

Index(['PAN No.', 'Loan A/C Number', 'Borrower's Name', 'Loan Amt.', 'ROI',
       'Loan Disb Date', 'EMI Start', 'Tenure', 'Proc. Fee',
       'Proc. Fee (Lender Share)', 'Proc. Fee (SL Share)', 'Broken Int(E)',
       'Broken Int (Lender Share)(E)', 'Broken Int (SL Share)(E)', 'Interest',
       'Interest (SL Share)', 'Interest (Lender Share)', 'sl_application_id',
       'lender_id', 'lender_application_id', 'lender_loan_id'],
      dtype='object')

In [20]:
All_data = All_data[['Loan A/C Number', 'sl_application_id', 'lender_application_id','lender_loan_id']]

In [21]:
All_data

,Loan A/C Number,sl_application_id,lender_application_id,lender_loan_id
1033,DMI0000294166,NaN,NaN,NaN
1282,DMI0000298031,NaN,NaN,NaN
1288,DMI0000284871,NaN,NaN,NaN
1374,DMI0000298061,NaN,NaN,NaN
1408,DMI0000287605,NaN,NaN,NaN
1441,DMI0000279775,NaN,NaN,NaN
1478,DMI0000279743,NaN,NaN,NaN
1517,DMI0000278007,NaN,NaN,NaN
1535,DMI0000277891,NaN,NaN,NaN
1552,DMI0000316463,NaN,NaN,NaN
1574,DMI0000349761,NaN,NaN,NaN
1577,DMI0000329256,NaN,NaN,NaN
1651,DMI0000283220,NaN,NaN,NaN
1663,DMI0000277567,NaN,NaN,NaN
1668,DMI0000274576,NaN,NaN,NaN
1700,DMI0000300393,NaN,NaN,NaN
1708,DMI0000277778,NaN,NaN,NaN
1709,DMI0000276903,NaN,NaN,NaN
1715,DMI0000293720,NaN,NaN,NaN
1727,DMI0000277899,NaN,NaN,NaN
1729,DMI0000278008,NaN,NaN,NaN
1756,DMI0000277779,NaN,NaN,NaN
1758,DMI0000300027,NaN,NaN,NaN
1759,DMI0000279241,NaN,NaN,NaN
1762,DMI0000277537,NaN,NaN,NaN
1768,DMI0000277780,NaN,NaN,NaN
1770,DMI0000279737,NaN,NaN,NaN
1772,DMI0000277895,NaN,NaN,NaN
1787,DMI0000283104,NaN,NaN,NaN
1791,DMI0000279760,NaN,NaN,NaN
...,...,...,...,...
8699,DMI0000832595,NaN,NaN,NaN
8708,SL60016_1532330812,60016.0,SL60016_1532330812,DMI0000833178
8710,DMI0000817236,NaN,NaN,NaN
8716,DMI0000836005,NaN,NaN,NaN
8716,DMI0000836005,NaN,NaN,NaN
8737,DMI0000831098,NaN,NaN,NaN
8742,DMI0000816364,NaN,NaN,NaN
8745,DMI0000828355,NaN,NaN,NaN
8746,DMI0000825331,NaN,NaN,NaN
8747,DMI0000823082,NaN,NaN,NaN
8774,DMI0000839392,NaN,NaN,NaN
8774,DMI0000839392,NaN,NaN,NaN
8780,DMI0000831125,NaN,NaN,NaN
8787,SL61005_1532328070,61005.0,SL61005_1532328070,DMI0000826327
8795,DMI0000834956,NaN,NaN,NaN
8826,DMI0000836319,NaN,NaN,NaN
8826,DMI0000836319,NaN,NaN,NaN
8827,SL60941_1532347117,NaN,NaN,NaN
8828,DMI0000828438,NaN,NaN,NaN
8829,DMI0000835246,NaN,NaN,NaN
8830,DMI0000828456,NaN,NaN,NaN
8832,DMI0000828465,NaN,NaN,NaN
8841,DMI0000828583,NaN,NaN,NaN
8858,DMI0000823489,NaN,NaN,NaN
8891,DMI0000830807,NaN,NaN,NaN
8929,DMI0000835248,NaN,NaN,NaN
8940,DMI0000833061,NaN,NaN,NaN
8947,SL62778_1532510348,NaN,NaN,NaN
8997,DMI0000839390,NaN,NaN,NaN
9026,DMI0000836321,NaN,NaN,NaN