In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/home/prashant/Downloads/vignesh/NACH_Status_Update_in_dashboard_DMI_NACH.csv")

In [3]:
data.head()

   SL LOAN ID  SL APPLICATION ID  LENDER ID NACH Registeration Status
0        2113              14916        182                 ACTIVATED
1        2396              15734        182                 ACTIVATED
2        2397              16532        182                 ACTIVATED
3        2441              16920        182                 ACTIVATED
4        2568              17714        182                 ACTIVATED

In [4]:
data.columns

Index(['SL LOAN ID', 'SL APPLICATION ID', 'LENDER ID',
       'NACH Registeration Status'],
      dtype='object')

In [10]:
data.columns = ['loan_id', 'application_id', 'lender_id', 'NACH_status']

In [12]:
data.head()

   loan_id  application_id  lender_id NACH_status
0     2113           14916        182   ACTIVATED
1     2396           15734        182   ACTIVATED
2     2397           16532        182   ACTIVATED
3     2441           16920        182   ACTIVATED
4     2568           17714        182   ACTIVATED

In [13]:
data.to_csv("/home/prashant/Downloads/vignesh/NACH_Status_Update_in_dashboard_DMI_NACH_1.csv")