In [1]:
import pandas as pd

In [2]:
data  = pd.read_csv("/home/prashant/Downloads/vignesh/nach_status_DMI_INCRED.csv")

In [3]:
data.head()

   loan_id  lender_id NACH_status
0     6123        184   ACTIVATED
1     6549        184   ACTIVATED
2     6607        184   ACTIVATED
3     6643        184   ACTIVATED
4     6717        184   ACTIVATED

In [4]:
comp = pd.read_csv("/home/prashant/Downloads/vignesh/DMI_INCRED.csv")

In [5]:
comp.head()

   application_id  loan_id
0           39227     6123
1           43750     6549
2           43611     6607
3           43780     6643
4           44911     6717

In [6]:
DMI_INCRED_FINAL = data.set_index('loan_id').join(comp.set_index('loan_id'))

In [7]:
DMI_INCRED_FINAL.head

<bound method NDFrame.head of          lender_id NACH_status  application_id
loan_id
6123           184   ACTIVATED           39227
6549           184   ACTIVATED           43750
6607           184   ACTIVATED           43611
6643           184   ACTIVATED           43780
6717           184   ACTIVATED           44911
6755           184   ACTIVATED           44016
6775           182   ACTIVATED           43540
6795           184   ACTIVATED           45467
6807           184   ACTIVATED           42233
6865           184   ACTIVATED           44369
6915           184   ACTIVATED           45996
6929           184   ACTIVATED           46084
6991           184   ACTIVATED           46337
6997           184   ACTIVATED           46634
7035           184   ACTIVATED           46962
7039           184   ACTIVATED           46649
7045           184   ACTIVATED           47052
7049           184   ACTIVATED           46928
7055           184   ACTIVATED           44494
7063           184   ACTIVATED           46002
7067           184   ACTIVATED           47184
7073           184   ACTIVATED           46880
7075           184   ACTIVATED           47169
7077           184   ACTIVATED           47283
7097           184   ACTIVATED           47226
7107           184   ACTIVATED           47230
7133           184   ACTIVATED           48165
7139           184   ACTIVATED           48308
7141           184   ACTIVATED           48161
7155           184   ACTIVATED           48479
...            ...         ...             ...
7444           182   ACTIVATED           50390
7446           184   ACTIVATED           50728
7460           182   ACTIVATED           50489
7472           184   ACTIVATED           50662
7482           184   ACTIVATED           50833
7504           184   ACTIVATED           51099
7506           184   ACTIVATED           51214
7510           184   ACTIVATED           51329
7518           184   ACTIVATED           50340
7522           184   ACTIVATED           51469
7530           182   ACTIVATED           51305
7534           184   ACTIVATED           51449
7538           182   ACTIVATED           51666
7542           184   ACTIVATED           51409
7546           182   ACTIVATED           51641
7548           184   ACTIVATED           51729
7550           182   ACTIVATED           51752
7558           184   ACTIVATED           51853
7572           184   ACTIVATED           51730
7578           184   ACTIVATED           51886
7594           184   ACTIVATED           51898
7620           182   ACTIVATED           51887
7642           184   ACTIVATED           52188
7652           182   ACTIVATED           52217
7658           184   ACTIVATED           52204
7664           184   ACTIVATED           52285
7682           182   ACTIVATED           52399
7698           184   ACTIVATED           52415
7718           184   ACTIVATED           52350
7782           184   ACTIVATED           53148

[171 rows x 3 columns]>

In [9]:
DMI_INCRED_FINAL.to_csv('/home/prashant/Downloads/vignesh/DMI_INCRED_final.csv')